{{ if .Site.Params.comments.enabled }}
<div class="comments-section" data-repo="{{ .Site.Params.utterances.repo }}"
  data-issue-term="{{ .Site.Params.utterances.issueTerm }}" data-theme-light="{{ .Site.Params.utterances.theme }}"
  data-theme-dark="{{ .Site.Params.utterances.darkTheme }}">
  <script>
    (function () {
      const container = document.querySelector('.comments-section');
      const repo = container.dataset.repo;
      const issueTerm = container.dataset.issueTerm;
      const themeLight = container.dataset.themeLight;
      const themeDark = container.dataset.themeDark;

      const getTheme = () => document.documentElement.dataset.theme === 'dark' ? themeDark : themeLight;

      const s = document.createElement('script');
      s.src = 'https://utteranc.es/client.js';
      s.setAttribute('repo', repo);
      s.setAttribute('issue-term', issueTerm);
      s.setAttribute('theme', getTheme());
      s.setAttribute('crossorigin', 'anonymous');
      s.setAttribute('async', '');
      container.appendChild(s);

      const observer = new MutationObserver(() => {
        const iframe = document.querySelector('iframe.utterances-frame');
        if (iframe) {
          iframe.contentWindow.postMessage({
            type: 'set-theme',
            theme: getTheme()
          }, 'https://utteranc.es');
        }
      });
      observer.observe(document.documentElement, { attributes: true, attributeFilter: ['data-theme'] });
    })();
  </script>
</div>
{{ end }}